/* Breakpoint para smartphones */
/* Media query / Media rule */
@media screen and (max-width: 640px) {
  html {
    font-size: 9px;
   
  }
    body {
      width: 100%;
    }
  header {
    padding: 0 0px;
  }
  #header-content {
    display: flex;
    align-items: center;
  }

  #header-content h1 {
    display: flex;
    margin: 0;
    font-size: 120%;
    justify-content: center;
    align-items: center;
  }
  #header-content img {
    width: 12%;
  }

  #main {
    flex-direction: column;
    box-sizing: border-box;
  }
  #content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 5px;
    box-sizing: border-box;
  }
  #about {
   width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   padding-bottom: 10px;
    box-sizing: border-box;
  }

  #about span {
    font-size: 100%;
    width: 100%;
    padding: 10px 10px;
  }

  #about img {
    padding: auto;
    width: 100%;
  }
  #service {
    width:90%;
    display: flex;
    padding: 0 10px;
    margin: 50px 0;
  flex-direction: column;
  }
  #service span{
    font-size: 300%;

  }
  #servicos {
    width: 90%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
  }
  #paxixi,
  #parque,
  #usina {
    width: 90%;
  }
  #oferta{
    margin-top: 5px;
    padding: 10px;
  }
  #contato-completo {
    display: flex;
  flex-direction: column;
  width: 100%;
padding: 0;
  align-items: center;
  justify-content: center;
   box-sizing: border-box;
  }
#contact {
    width: 100%;
}
#contact h2 {
    margin-top: 5px;
    font-size: 3em;
}
  #outras-formas {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

  }
  #outras-formas p {
align-items: center;
justify-content: center;
    font-size:110% ;
    margin: 10px 0;
  }
  footer {
    padding: 20px 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #main {
    flex-direction: column;
  }

  #menu,
  #content {
    width: 100%;
    box-sizing: border-box;
  }

  #menu {
    padding: 10px 0;
  }

  #menu span {
    display: none;
  }

  #menu ul {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}
